@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap);

.title-first{
    color:white;
    font-weight: bold;
    font-size: xx-large;
    font-family: Poppins;
}

.title-second{
    color:#F89521;
    font-weight: bold;
    font-size: xxx-large;
    font-family: Poppins;
}

.title-center{
    color:white;
    font-weight: bold;
    font-size: xx-large;
    font-family: Poppins;
    text-align: center;
}

.section-text{
    color: white;
    font-weight: 500;
    font-size: x-large;
}